{% extends "@EasyCrud/base.html.twig" %}

{% block title %}Entity generator{% endblock %}
{% block sub_title %}List of entities{% endblock %}

{% block content %}
    <div class="col-md-12 center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card card-primary">
            <div class="card-body text-center">
                <table id="datatable" class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Label</th>
                        <th>Singular label</th>
                        <th>Plurial label</th>
                        <th>Classname</th>
                        <th>Visible</th>
                        <th>Edit</th>
                        <th>Remove</th>
                        <th>Add</th>
                        <th>List</th>
                        <th>Order</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a style="color: red" href="{{ path('appkweb_easy_crud_generator_remove',{className:entity.className}) }}"><span class="fa fa-trash"></span></a>
                                <a href="{{ path('appkweb_easy_crud_generator_add',{className:entity.className}) }}"><span class="fa fa-edit"></span></a>
                            </td>
                            <td>{{ entity.label }}</td>
                            <td>{{ entity.singularLabel }}</td>
                            <td>{{ entity.plurialLabel }}</td>
                            <td>{{ entity.className }}</td>
                            <td>{{ entity.visible  ? 'True':'False' }}</td>
                            <td>{{ entity.edit  ? 'True':'False'}}</td>
                            <td>{{ entity.remove  ? 'True':'False' }}</td>
                            <td>{{ entity.add  ? 'True':'False' }}</td>
                            <td>{{ entity.list  ? 'True':'False'}}</td>
                            <td>{{ entity.order }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

