{% extends "@EasyCrud/base.html.twig" %}


{% block title %}Gestion des {{ crud_def.label }}{% endblock %}
{% block sub_title %}{% endblock %}

{% block content %}
    <div class="col-md-12 center">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ajouter {{ crud_def.label }}</h3>
            </div>
            <div class="card-body text-center">
                {{ form_start(form) }}
                <div class="row">
                    {% for attribute in crud_def.attributes %}
                        {% if attribute.type == "TextArea" or attribute.type == "TinyMce" %}
                            <div class="col-md-12 no-padding">
                                <div class="col-md-9 center">
                                    {{ form_row(form[attribute.name]) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-3 center">
                                {{ form_row(form[attribute.name]) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {{ form_rest(form) }}
                <div class="text-center space">
                    <button type="submit" class="btn btn-success">
                        <span class="fa fa-plus"></span> Enregistrer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}