{% extends "@EasyCrud/base.html.twig" %}

{% block title %}Gestion des {{ crud_def.label }}{% endblock %}
{% block sub_title %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easycrud/crud/addList.js') }}" type="text/javascript"></script>
    {{ include('@EasyCrud/add_list/include/validator_js.html.twig') }}
{% endblock %}

{% block content %}
    <div class="col-md-12 center">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{% block card_title %}Ajouter {{ crud_def.label }}{% endblock %}</h3>
            </div>
            <div class="card-body text-center">
                {% block progress_bar %}
                    {{ include('@EasyCrud/crud/include/progress_bar.html.twig') }}
                {% endblock %}

                {% block form_view %}
                    <div data-id="{{ id }}" id="form-row">
                        {{ render(controller('Appkweb\\Bundle\\EasyCrudBundle\\Controller\\CrudController::getFormView',{'classname': crud_def.className,'id':id})) }}
                    </div>
                {% endblock %}

                {% block actions %}
                    {{ include('@EasyCrud/crud/include/add_actions.html.twig',{'crud_def':crud_def,'id':id}) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {# Modal to addList #}
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-result"></div>
            </div>
        </div>
    </div>

{% endblock %}
