{% extends "@EasyCrud/base.html.twig" %}


{% block title %}Gestion des {{ crud_def.label }}{% endblock %}
{% block sub_title %}{% endblock %}

{% block content %}
    <div class="col-md-12 center">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Liste {{ crud_def.label }}</h3>
            </div>
            <div class="card-body text-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <a class="btn btn-success space"
                   href="{{ path('appkweb_easy_crud_add',{classname:crud_def.className }) }}"><span
                            class="fa fa-plus"></span> Nouveau</a>
                <table id="datatable" class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>Actions</th>
                        {% for attribute in crud_def.attributes %}
                            {% if attribute.type != "Add list" and attribute.entityRelation != crud_def.className %}
                                <th>{{ attribute.label | capitalize }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in list %}
                        <tr>
                            <td>
                                <a class="btn btn-default" style="color: black"
                                   href="{{ path('appkweb_easy_crud_show',{classname:crud_def.className,id:entity.id}) }}"><span
                                            class="fa fa-eye"></span></a>
                                <a class="btn btn-default" style="color:#007bff;"
                                   href="{{ path('appkweb_easy_crud_add',{classname:crud_def.className,id:entity.id}) }}"><span
                                            class="fa fa-edit"></span></a>
                                <a class="btn btn-default" style="color: red"
                                   href="{{ path('appkweb_easy_crud_remove',{classname:crud_def.className,id:entity.id}) }}"><span
                                            class="fa fa-trash"></span></a>
                            </td>
                            {% for attribute in crud_def.attributes %}
                            {% if attribute.type != "Add list" and attribute.entityRelation != crud_def.className %}
                                <td>
                                        {% if attribute.type == "TinyMce" %}
                                            {{ attribute(entity, attribute.name) | raw }}
                                        {% elseif attribute.type == "Simple image picker" %}
                                            <img class="img-fluid" style="width: 300px"
                                                 src="{{ render(controller('Appkweb\\Bundle\\EasyCrudBundle\\Controller\\CrudController::getImgUrl', {'filename': attribute(entity, attribute.name) })) }}">
                                        {% elseif attribute.type == "Date picker" %}
                                            {{ attribute(entity, attribute.name) | date('d/m/Y') }}
                                        {% else %}
                                            {{ attribute(entity, attribute.name) }}
                                        {% endif %}

                                </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}